# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
*.egg

# Environment
.env
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp

# Docker
postgres_data/

# Next.js
frontend/.next/
frontend/node_modules/
frontend/out/

# OS
.DS_Store
